@import "variables";

::-webkit-scrollbar {
  width: 8px;

  &:horizontal {
    height: 8px;
  }
}

::-webkit-scrollbar-track {
  background: $black_2;
}

::-webkit-scrollbar-thumb {
  background: $green_1;
}
