@import "variables";

.index__mainWindow {
  width: 100vw;
  background: $backgroundSite;
  position: relative;
  overflow: hidden;

  .index__pagination {
    position: absolute;
    left: 30px;
    bottom: 60px;
  }
}

.mainWindow__title {
  margin-top: calc(80px + (230 - 80) * ((100vw - 900px) / (1920 - 900)));
  text-align: center;
  position: relative;
  z-index: 4;

  h2 {
    font-family: MontserratBold, sans-serif;
    font-size: calc(150px + (300 - 150) * ((100vw - 900px) / (1920 - 900)));
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    color: rgba(0,0,0,0);
    -webkit-text-stroke-color: #fff;

    .welcomeTitleLetter {
      opacity: 0;
    }
  }
}

.mainWindow__smallTitle {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: max-content;

  position: absolute;
  bottom: calc(-50px + (-68 - -50) * ((100vw - 900px) / (1920 - 900)));
  left: 10%;

  h1 {
    font-family: MontserratLogo, sans-serif;
    font-size: calc(50px + (80 - 50) * ((100vw - 900px) / (1920 - 900)));
    line-height: calc(50px + (80 - 50) * ((100vw - 900px) / (1920 - 900)));
    text-transform: capitalize!important;
    color: #E5E5E5;
  }

  p {
    font-family: Handelson-TwoCYR, sans-serif;
    font-size: calc(30px + (50 - 30) * ((100vw - 900px) / (1920 - 900)));
    color: $green_1;
    order: 3;
    margin: auto 0;
  }

  .mainWindow__studio {order: 4}
  .mainWindow__slogan {order: 3}

  .creativeTitleLetter, .studioTitleLetter, .sloganTitleLetter {opacity: 0}
}

.mainWindow__topLeavesBox {
  width: 710px;
  position: absolute;
  top: 0;
  left: 20%;
}

.mainWindow__bottomLeavesBox {
  width: 710px;
  position: absolute;
  bottom: 0;
  right: calc(-90px + (130 - -90) * ((100vw - 900px) / (1920 - 900)));
  z-index: 7;
}

/* main window SVG */

.mainWindow__milkyWaySvg {
  @include size(700px, 540px);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 5;
}

.mainWindow__islandSvg {
  width: 100%;
  position: absolute;
  bottom: calc(-120px + (0 - -120) * ((100vw - 900px) / (1920 - 900)));
  right: calc(-200px + (-250 - -200) * ((100vw - 900px) / (1920 - 900)));
  z-index: 3;
}

.mainWindow__circleArraySvg {
  position: absolute;
  left: calc(10px + (490 - 10) * ((100vw - 900px) / (1920 - 900)));
  bottom: calc(80px + (160 - 80) * ((100vw - 900px) / (1920 - 900)));
}

.mainWindow__topLeaves {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.mainWindow__topLeaves-1 {left: 0}
.mainWindow__topLeaves-2 {left: 90px}
.mainWindow__topLeaves-3 {left: 159px}
.mainWindow__topLeaves-4 {left: 250px}
.mainWindow__topLeaves-5 {right: 150px; top: -10px}
.mainWindow__topLeaves-6 {right: 0}

.mainWindow__palmSvg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  transform-origin: right bottom;
  transform: rotate(50deg) translateX(30%);
}

.mainWindow__bottomLeaves {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
}

.mainWindow__bottomLeaves-1 {
  left: 0;
  transform-origin: right bottom;
  transform: rotate(-60deg);
}
.mainWindow__bottomLeaves-2 {
  left: 120px;
  transform-origin: right bottom;
  transform: rotate(-80deg);
}
.mainWindow__bottomLeaves-3 {
  right: 0;
  bottom: -30px;
  transform-origin: left bottom;
  transform: rotate(90deg);
}
.mainWindow__bottomLeaves-4 {left: 250px; z-index: 8}
.mainWindow__bottomLeaves-5 {left: 200px; z-index: 5}
.mainWindow__bottomLeaves-6 {left: 390px; z-index: 8}
.mainWindow__bottomLeaves-7 {left: 320px; z-index: 7}
.mainWindow__bottomLeaves-8 {left: 330px; z-index: 5}
.mainWindow__bottomLeaves-9 {left: 350px; z-index: 5}

.mainWindow__giraffe {
  height: calc(400px + (840 - 400) * ((100vw - 900px) / (1920 - 900)));
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: center bottom;
  transform: translateX(-50%) translateY(100%) rotate(-70deg);
  z-index: 6;
}
