@import "variables";

@media (max-width: 900px) {
  header {
    flex-direction: column;
  }

  .header__leftMenu {
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 40px;
  }

  .header__rightMenu {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 0 0 40px;
    position: relative;

    &:before {
      content: '';
      @include size(90%, 2px);
      background: linear-gradient(0.25turn, rgba(0,0,0,0), $black_1, rgba(0,0,0,0));
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .header__contactsItem {
    &:first-of-type a {
      font-size: calc(35px + (40 - 35) * ((100vw - 320px) / (900 - 320)));
    }
  }

  .header__menuItem {
    a {
      font-size: calc(35px + (40 - 35) * ((100vw - 320px) / (900 - 320)));
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  .header__menu {
    width: 100%;
    z-index: 5;
  }

  .header__line, .header__circle, .header__hiddenCubes {
    display: none;

    &:before, &:after {
      display: none;
    }
  }

  .header__closeBtn {
    @include size(30px, 30px);
    top: 40px;
    left: unset;
    right: 20px;
    z-index: 6;
  }

  .index__container {
    flex-direction: column;
  }

  .portfolio {
    flex-direction: column;
    height: auto;

    progress {display: none}
  }

  .portfolio__item {
    @include size(100%, 300px);

    img {
      object-position: center 20%;
    }
  }

  .portfolio__itemInfo {
    transform: none;
    justify-content: flex-end;
    padding: 20px 10px;

    h2 {
      font-size: 20px;

      span {
        font-size: 14px;
      }
    }

    p {display: none}

    a {
      opacity: 1;
      font-size: 18px;

      svg {display: none}
    }
  }

  .portfolio__itemTitle {
    height: 100px;
    justify-content: center;
    align-items: center;

    h2 {
      transform: none;
      margin-left: 0;
      font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (900 - 320)));
    }

    a, div {display: none}
  }

  .portfolio__itemCallback {
    background: $black_3;
    height: 220px;
    padding-left: 20px;

    .menuBtn {display: none}
  }

  .about {
    flex-direction: column-reverse;
    height: auto;

    .menuBtn, .topLogo, .index__pagination {
      display: none;
    }
  }

  .about__team {
    padding-top: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      @include size(95%, 1px);
      background: linear-gradient(0.25turn, rgba(0,0,0,0), $black_1, rgba(0,0,0,0));
    }

    h2 {
      text-align: center;
    }
  }

  .about__teamItems {
    flex-wrap: wrap;
  }

  .about__teamItem {
    @include size(190px, 240px);
    margin: 50px 10px 0;

    &:hover {
      background-size: 380px;
    }
  }

  .about__teamItem-1, .about__teamItem-2, .about__teamItem-3 {
   background-size: 190px;
  }

  .about__start {
    width: 100%;
    height: auto;
    position: unset;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border: none;

    p:first-of-type {margin-top: 0}
  }

  .about__startBird {
    flex: 0 0 auto;
    margin-right: 10px;
  }

  .about__startBackground {
    @include size(95%, 90%);
    top: unset;
    bottom: 0;
  }
}

@media (max-width: 500px) {
  .callback .topLogo {display: none}

  .callback__numberPage {
    left: 10px;
    bottom: unset;
    top: 10px;
  }
}

@media (max-width: 420px) {
  .about__startBackground {display: none;}
}
