@import "variables";

.portfolio {
  width: auto;
  display: flex;
  background: $black_3;

  progress {
    @include size(100%, 12px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    border: none;
    background: transparent;

    &::-webkit-progress-value {
      background: $green_1;
      background-attachment: fixed;
    }
    &::-moz-progress-bar {
      background: $green_1;
      background-attachment: fixed;
    }
  }
}

.portfolio__item {
  @include size(400px, 100%);
  flex: 0 0 auto;
  position: relative;

  & > * {
    filter: grayscale(90%);
    transition: .5s;
  }

  &:not(:last-of-type):not(:first-of-type) {margin-right: 10px}

  img {
    @include size(100%, 100%);
    object-fit: cover;
    object-position: 40% 50%;
  }

  &:hover {
    .portfolio__itemInfo {
      transform: translateY(0%);

      p, a {
        opacity: 1;
      }
    }

    & > * {
      filter: grayscale(0%);
    }
  }
}

.portfolio__itemInfo {
  @include size(100%, 100%);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: grayscale(0%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(22, 22, 22, 0.97) 56.46%);
  transform: translateY(25%);
  transition: .5s;

  p {
    height: 30%;
    opacity: 0;
    transition: .5s;
  }

  a {
    width: max-content;
    font-size: 24px;
    line-height: 24px;
    color: $green_2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;

    opacity: 0;

    &:hover {
      color: rgba(255, 255, 255, 0.6);

      svg {
        stroke: rgba(255, 255, 255, 0.6);
      }
    }

    svg {
      @include size(20px, 50px);
      stroke: $green_2;
      transition: .5s;
      transform: translateX(-50%) rotate(90deg);
      position: absolute;
      bottom: 20px;
      left: 50%;

      &:nth-of-type(2) {
        animation: 1s linear 1s infinite alternate linkArrow2;
      }

      &:nth-of-type(3) {
        animation: 1s linear 1s infinite alternate linkArrow3;
      }
    }
  }

  .portfolio__itemInfoLinkTitle {
    flex: 0 0 auto;
    @include size(100%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
    opacity: 1;
    position: unset;
    transform: none;
    color: #fff;
  }

  img {
    @include size(auto, auto);
    margin: 0 auto;
  }

  h2 {
    font-size: 28px;
    margin-top: 10px;

    span {
      display: block;
      font-size: 20px;
    }
  }
}

@keyframes linkArrow2 {
  0% {transform: translateX(-50%) translateY(0) rotate(90deg);}
  100% {transform: translateX(-50%) translateY(8px) rotate(90deg);}
}

@keyframes linkArrow3 {
  0% {transform: translateX(-50%) translateY(0) rotate(90deg);}
  100% {transform: translateX(-50%) translateY(16px) rotate(90deg);}
}

.portfolio__itemTitle {
  width: 300px;
  padding: 60px;
  position: relative;
  @include flex(column, space-between, flex-start, nowrap);

  h2 {
    margin-left: -130px;
    font-size: 70px;
    font-family: MontserratBold, sans-serif;
    text-transform: uppercase;
    transform: rotate(-90deg);
    @include adaptiveFormula(-webkit-text-stroke-width, .4, 2);
    color: rgba(0,0,0,0);
    -webkit-text-stroke-color: $black_1;
  }
}

.portfolio__itemTitleLogo {
  path {
    stroke: #fff;
    transition: .3s;
  }

  &:hover {
    path {
      stroke: $green_1;
    }
  }
}

.portfolio__itemCallback {
  position: relative;
  width: 300px;
  @include flex(column, center, center, nowrap);

  div {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;

    svg:last-of-type {
      position: absolute;
      bottom: -13px;
      left: 50%;
      transform: translateX(-60%);
    }
  }

  a {
    @include size(37px, 37px);
    margin-bottom: 20px;
    border-radius: 50%;

    path {
      stroke: #fff;
      transition: .3s;
    }

    &:hover {
      animation: portfolioPulse 2s infinite;

      path {
        stroke: $green_1;
      }
    }
  }

  p {font-size: 24px;}
}

@keyframes portfolioPulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 $green_1;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
