/* zero style */
* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
}

/* fonts site */
@font-face {
  font-family: Himagsican;
  font-display: swap;
  src: url("../fonts/himagsikan.woff") format("woff"), url("../fonts/himagsikan.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: MontserratBold;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* main style */
main {
  color: #fff;
  font-family: SourceSansPro ,sans-serif;
}

.menuBtn {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.menuBtn path {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menuBtn path:not(:last-of-type) {
  stroke: #fff;
}

.menuBtn path:last-of-type {
  fill: #fff;
}

.menuBtn:hover path:not(:last-of-type) {
  stroke: #72CD04;
}

.menuBtn:hover path:last-of-type {
  fill: #72CD04;
}

/* header style */
header {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 50;
}

.header__menu {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #161616;
  font-family: Himagsican, sans-serif;
}

.header__leftMenu {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  font-size: calc(30px + (100 - 30) * ((100vw - 320px) / (1920 - 320)));
  text-transform: uppercase;
}

.header__rightMenu {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  position: relative;
}

.header__line {
  display: block;
  width: 10px;
  height: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
}

.header__lineTop {
  top: 0;
}

.header__lineBottom {
  bottom: 0;
}

.header__hiddenCubes {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

.header__hiddenCubes:before, .header__hiddenCubes:after {
  content: '';
  display: block;
  width: calc(50% - 2.5px);
  height: 60%;
  background: #161616;
  position: absolute;
}

.header__hiddenCubes:after {
  bottom: 0;
  left: -3px;
}

.header__hiddenCubes:before {
  top: 0;
  right: -3px;
}

.header__circle {
  width: 150px;
  height: 150px;
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(145deg);
      -ms-transform: translate(-50%, -50%) rotate(145deg);
          transform: translate(-50%, -50%) rotate(145deg);
  display: none;
}

.header__circle:before, .header__circle:after {
  content: "";
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  top: 0;
  border: 10px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.header__circle:after {
  left: 0;
  border-left-color: #fff;
}

.header__circle:before {
  right: 0;
  border-right-color: #fff;
}

.header__closeBtn {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: 3;
  cursor: pointer;
}

.header__closeBtn:hover {
  -webkit-filter: drop-shadow(2px 2px 5px #fff);
          filter: drop-shadow(2px 2px 5px #fff);
}

.header__menuItem {
  overflow: hidden;
}

.header__menuItem a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-text-stroke-width: calc(0.4px + (2 - 0.4) * ((100vw - 320px) / (1920 - 320)));
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: #fff;
  -webkit-transform: translateY(110%);
      -ms-transform: translateY(110%);
          transform: translateY(110%);
}

.header__menuItem span {
  position: relative;
  display: block;
}

.header__menuItem span:before {
  content: attr(data-text);
  width: 0;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  -webkit-transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
  -o-transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
  transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.header__menuItem span:hover:before {
  width: 100%;
}

.header__menuItem:not(:last-of-type) {
  margin-bottom: 30px;
}

.header__contactsItem {
  overflow: hidden;
}

.header__contactsItem a {
  display: block;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.header__contactsItem:first-of-type {
  font-size: calc(30px + (100 - 30) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 30px;
}

.header__contactsItem:first-of-type a {
  -webkit-text-stroke-width: calc(0.4px + (2 - 0.4) * ((100vw - 320px) / (1920 - 320)));
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: #fff;
}

.header__contactsItem:not(:first-of-type) {
  margin-bottom: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header__contactsItem:not(:first-of-type) a {
  -webkit-text-stroke-width: 0;
  color: #fff;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.header__contactsItem span {
  display: block;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  position: relative;
}

.header__contactsItem span:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.header__contactsItem span:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.header__backImage {
  position: absolute;
  top: 20px;
  right: 0;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
  opacity: .1;
}

.header__backImage path {
  stroke: #72CD04;
}

/* main index page style */
.index__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.index__section {
  height: 100vh;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.index__mainWindow {
  width: 100vw;
  background: -o-linear-gradient(158.72deg, #161616 29.94%, #242325 81.4%);
  background: linear-gradient(291.28deg, #161616 29.94%, #242325 81.4%);
}

.index__pagination {
  width: 180px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-filter: grayscale(0%) !important;
          filter: grayscale(0%) !important;
}

.index__paginationArrow.index__paginationArrowNotActive path {
  stroke: #4A4A4A;
}

.index__paginationArrow path {
  stroke: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.index__paginationArrow:hover.index__paginationArrowNotActive path {
  stroke: #4A4A4A;
}

.index__paginationArrow:hover path {
  stroke: #72CD04;
}

.index__paginationCircle.index__paginationCircleActive path {
  stroke: #72CD04;
}

.index__paginationCircle path {
  stroke: #4A4A4A;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.index__paginationCircle:hover path {
  stroke: #72CD04;
}

/* portfolio section in index page */
.portfolio {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #161616;
}

.portfolio progress {
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  border: none;
  background: transparent;
}

.portfolio progress::-webkit-progress-value {
  background: #72CD04;
  background-attachment: fixed;
}

.portfolio progress::-moz-progress-bar {
  background: #72CD04;
  background-attachment: fixed;
}

.portfolio__item {
  width: 400px;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}

.portfolio__item > * {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.portfolio__item:not(:last-of-type):not(:first-of-type) {
  margin-right: 10px;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 50%;
     object-position: 40% 50%;
}

.portfolio__item:hover .portfolio__itemInfo {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio__item:hover .portfolio__itemInfo p, .portfolio__item:hover .portfolio__itemInfo a {
  opacity: 1;
}

.portfolio__item:hover > * {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.portfolio__itemInfo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(56.46%, rgba(22, 22, 22, 0.97)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(22, 22, 22, 0.97) 56.46%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(22, 22, 22, 0.97) 56.46%);
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.portfolio__itemInfo p {
  height: 30%;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.portfolio__itemInfo a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 24px;
  line-height: 24px;
  color: #A9E73C;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.portfolio__itemInfo a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.portfolio__itemInfo a:hover svg {
  stroke: rgba(255, 255, 255, 0.6);
}

.portfolio__itemInfo a svg {
  stroke: #A9E73C;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-30%) translateX(15px);
      -ms-transform: translateY(-30%) translateX(15px);
          transform: translateY(-30%) translateX(15px);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.portfolio__itemInfo a svg:nth-of-type(2) {
  -webkit-animation: 1s linear 1s infinite alternate linkArrow2;
          animation: 1s linear 1s infinite alternate linkArrow2;
}

.portfolio__itemInfo a svg:nth-of-type(3) {
  -webkit-animation: 1s linear 1s infinite alternate linkArrow3;
          animation: 1s linear 1s infinite alternate linkArrow3;
}

.portfolio__itemInfo div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
}

.portfolio__itemInfo img {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.portfolio__itemInfo h2 {
  font-size: 28px;
  margin-top: 10px;
}

.portfolio__itemInfo h2 span {
  display: block;
  font-size: 20px;
}

@-webkit-keyframes linkArrow2 {
  0% {
    -webkit-transform: translateY(-30%) translateX(15px);
            transform: translateY(-30%) translateX(15px);
  }
  100% {
    -webkit-transform: translateY(-30%) translateX(22px);
            transform: translateY(-30%) translateX(22px);
  }
}

@keyframes linkArrow2 {
  0% {
    -webkit-transform: translateY(-30%) translateX(15px);
            transform: translateY(-30%) translateX(15px);
  }
  100% {
    -webkit-transform: translateY(-30%) translateX(22px);
            transform: translateY(-30%) translateX(22px);
  }
}

@-webkit-keyframes linkArrow3 {
  0% {
    -webkit-transform: translateY(-30%) translateX(15px);
            transform: translateY(-30%) translateX(15px);
  }
  100% {
    -webkit-transform: translateY(-30%) translateX(29px);
            transform: translateY(-30%) translateX(29px);
  }
}

@keyframes linkArrow3 {
  0% {
    -webkit-transform: translateY(-30%) translateX(15px);
            transform: translateY(-30%) translateX(15px);
  }
  100% {
    -webkit-transform: translateY(-30%) translateX(29px);
            transform: translateY(-30%) translateX(29px);
  }
}

.portfolio__itemTitle {
  width: 300px;
  padding: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.portfolio__itemTitle h2 {
  margin-left: -130px;
  font-size: 70px;
  font-family: MontserratBold, sans-serif;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-text-stroke-width: calc(0.4px + (2 - 0.4) * ((100vw - 320px) / (1920 - 320)));
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: #4A4A4A;
}

.portfolio__itemTitleLogo path {
  stroke: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.portfolio__itemTitleLogo:hover path {
  stroke: #72CD04;
}

.portfolio__itemCallback {
  position: relative;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.portfolio__itemCallback div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.portfolio__itemCallback div svg:last-of-type {
  position: absolute;
  bottom: -13px;
  left: 50%;
  -webkit-transform: translateX(-60%);
      -ms-transform: translateX(-60%);
          transform: translateX(-60%);
}

.portfolio__itemCallback a {
  width: 37px;
  height: 37px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.portfolio__itemCallback a path {
  stroke: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.portfolio__itemCallback a:hover {
  -webkit-animation: portfolioPulse 2s infinite;
          animation: portfolioPulse 2s infinite;
}

.portfolio__itemCallback a:hover path {
  stroke: #72CD04;
}

.portfolio__itemCallback p {
  font-size: 24px;
}

@-webkit-keyframes portfolioPulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 #72CD04;
            box-shadow: 0 0 0 0 #72CD04;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes portfolioPulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 #72CD04;
            box-shadow: 0 0 0 0 #72CD04;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* about section in index page */
.about {
  width: 100vw;
  background: -o-linear-gradient(158.72deg, #161616 29.94%, #242325 81.4%);
  background: linear-gradient(291.28deg, #161616 29.94%, #242325 81.4%);
}

/* media */
@media (max-width: 900px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__leftMenu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 40px;
  }
  .header__rightMenu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 40px 0 0 40px;
    position: relative;
  }
  .header__rightMenu:before {
    content: '';
    width: 90%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__contactsItem:first-of-type a {
    font-size: calc(35px + (40 - 35) * ((100vw - 320px) / (900 - 320)));
  }
  .header__menuItem a {
    font-size: calc(35px + (40 - 35) * ((100vw - 320px) / (900 - 320)));
  }
  .header__menuItem:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .header__menu {
    width: 100%;
    z-index: 5;
  }
  .header__line, .header__circle, .header__hiddenCubes {
    display: none;
  }
  .header__line:before, .header__line:after, .header__circle:before, .header__circle:after, .header__hiddenCubes:before, .header__hiddenCubes:after {
    display: none;
  }
  .header__closeBtn {
    width: 30px;
    height: 30px;
    top: 40px;
    left: unset;
    right: 20px;
    z-index: 6;
  }
  .index__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .portfolio progress {
    display: none;
  }
  .portfolio__item {
    width: 100%;
    height: 300px;
  }
  .portfolio__item img {
    -o-object-position: center 20%;
       object-position: center 20%;
  }
  .portfolio__itemInfo {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 20px 10px;
  }
  .portfolio__itemInfo h2 {
    font-size: 20px;
  }
  .portfolio__itemInfo h2 span {
    font-size: 14px;
  }
  .portfolio__itemInfo p {
    display: none;
  }
  .portfolio__itemInfo a {
    opacity: 1;
    font-size: 18px;
  }
  .portfolio__itemInfo a svg {
    display: none;
  }
  .portfolio__itemTitle {
    height: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio__itemTitle h2 {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-left: 0;
    font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (900 - 320)));
  }
  .portfolio__itemTitle a, .portfolio__itemTitle div {
    display: none;
  }
  .portfolio__itemCallback {
    background: #161616;
    height: 220px;
    padding-left: 20px;
  }
  .portfolio__itemCallback .menuBtn {
    display: none;
  }
}
